@font-face{
    font-family: 'Major Mono Display';
    src: url(../fonts/MajorMonoDisplay-Regular.woff) format('woff');
}
@font-face{
    font-family: 'Red Hat Display';
    src: url(../fonts/RedHatDisplay-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
}

body{
    background-color: #1A1A21 !important; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
div#sidebar{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #131318;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
}

div#sidebar.action{
    width: 300px;
    transition: 1s;
}
div#sidebar.off{
    width: 0px;
    
    transition: 1s;
}
.body-action-nav ul li{
    list-style-type: none;
    
}
.exp-action-nav{
    margin-right: 10px;
}
.body-action-nav ul li a {
    color: white;
    font-family: 'Major Mono Display';
    font-size: 18px;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.body-action-nav ul li a:hover{
    color: rgba(245, 245, 245, 0.767);
}
.body-action-nav ul{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.action .body-action-nav ul{
    opacity: 1;
    transition: 5.5s;
    right: 43px;
    
}
.off .body-action-nav ul{
    transition: .3s;
    opacity: 0;
    right: 23px;
}

.exp-action-nav{
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    z-index: 2;
}
.about-nav{
    width: 85px;
    height: 100vh;
    background-color: #131318;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 2;
}
.about-nav ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-nav ul{
    height: 100%;
    list-style-type: none;
    
    
}

.body-footer{
    background-color: #131318;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.about-nav a .icon{
    font-size: 30px;   
}
.about-nav:hover{
    width: 300px;
    transition: .5s;
}

ul li.item a{
    color: white;
    text-decoration: none;
    line-height: 40px;
    display: flex;
    margin-bottom: 20px;
}
ul li.item a .text-link{
    margin-left: 25px;
    font-family: 'Major Mono Display';
}

.about-nav a:hover{
    color: rgba(245, 245, 245, 0.767);
}
.banner-pomoeclipse{
    position: relative;
    width: 600px;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 50px;
}
section article.article-box h2,p{
    color: white;
    margin-left: 50px;
}
section article.article-box h2{ 
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 35px;
}
section article.article-box p{
    margin-top: 12px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
}
footer .body-footer a{
    color: white;
    text-decoration: none;
}
footer .body-footer a:hover{
    color: rgba(255, 255, 255, 0.425);
    text-decoration: none;
    transition: 0.5s;
}
.article-box{
    width: 844px;
}
.anotherFontPLS{
    font-family: 'Red Hat Display';
}
.donate-section{
    height: 100vh;
}
.article-box p.big-text{
    font-size: 40px;
}
.article-box p.smile-face{
    display: flex;
    justify-content: center;
    font-size: 58px;
}
article.img-donate{
    margin-top: 145px;
}
article.img{
  
    display: flex;
    justify-content: center;
}
section.pomodoro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.timer {
    text-align: center;

}
#reset{
    cursor: pointer;
}
#time-left {
    font-size: 3em;
    margin: 10px 0;
    font-family: 'Red Hat Display';
}
#timer-label{
    font-family: 'Major Mono Display';
}

.eclipse-time-inner svg{
    width: 150px;
    height: 150px;
    position: relative;
}

circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke: black;
    stroke-width: 10px;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke-width: 2px;
    stroke:rgb(7, 7, 7);
}
circle:nth-child(2){
    stroke:#8E672B;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.08s;
    
}

button {
    color: white;
    background:none;
    border: none;
    justify-content: space-between;
    
}
.btn-radius{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    

}
.btn-radius:hover{
    background-color: rgba(255, 255, 255, 0.192);
}
.fix-buttons{
    font-size: 22px;
    justify-content: center;
}

.mark{
    border: 1px solid red;
}